@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

:root {
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-500: hsl(245, 15%, 58%);
  --Neutral-500-opacity: hsl(245, 15%, 58%, 50%);
  --Neutral-700: hsl(245, 19%, 35%);
  --Neutral-700-opacity: hsl(245, 19%, 35%, 30%);
  --Neutral-900: hsl(248, 70%, 10%);
  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);
  --Gradient-text: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: "Inconsolata", monospace;
  max-width: 1440px;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: var(--Neutral-900);
  margin: 0 auto;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  position: relative;
  background-image: url(./assets/images/background-desktop.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  overflow-x: hidden;
}

.pattern__lines,
.pattern__line-top,
.pattern__line-bottom,
.pattern__circle {
  position: absolute;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.pattern__lines {
  top: 0;
}

.pattern__line-top {
  right: 0px;
  top: 60px;
  width: 30%;
}

.pattern__line-bottom {
  bottom: 0;
  width: 50%;
  left: 0;
}

.pattern__circle__top {
  left: 100px;
  top: -60px;
  width: 15%;
}

.pattern__circle__bottom {
  right: 90px;
  top: 500px;
  width: 15%;
}

header {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  height: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header__image {
  margin-bottom: 20px;
}

.header__title {
  color: var(--Neutral-0);
  font-size: 2.5rem;
}

.header__title span {
  background: var(--Gradient-text);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__description {
  color: var(--Neutral-300);
  font-size: 0.9rem;
  line-height: 25px;
}

.header__description span {
  color: var(--Orange-500);
}

input,
label,
p {
  color: var(--Neutral-0);
}

label {
  font-size: 0.9rem;
  padding-left: 5px;
}

input,
.upload__label {
  width: 98%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--Neutral-700-opacity);
  border: 1px solid var(--Neutral-300);
  outline: none;
  padding-left: 20px;
}

input:hover,
.upload__label:hover {
  background-color: var(--Neutral-500-opacity);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--Neutral-700-opacity) inset !important;
  -webkit-text-fill-color: var(--Neutral-0) !important;
  border: 1px solid var(--Neutral-300) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.input__focus,
.upload__label__focus {
  box-shadow: 0px 0px 2px 5px var(--Neutral-700-opacity);
}

.button__focus {
  box-shadow: 0px 0px 2px 3px var(--Neutral-900);
}

.input__container {
  width: 100%;
  height: 60px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.input__container__focus {
  border: 1px solid var(--Neutral-500);
}

input::placeholder {
  font-size: 0.7rem;
  color: var(--Neutral-300);
}

.form {
  width: 100%;
  height: 70%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 200px;
}

.form__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.avatar__image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 125px;
  border-radius: 10px;
}

.avatar__image__container__focus {
  border: 1px solid var(--Neutral-0);
}

.upload__label {
  width: 99%;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  border: 2px dashed var(--Neutral-0);
}

.preview__container {
  width: 50px;
  height: 50px;
  background-color: var(--Neutral-700);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px 1px var(--Neutral-700) inset;
  opacity: 90%;
  border-radius: 7px;
  overflow: hidden;
}

.drag__drop {
  color: var(--Neutral-300);
  font-size: 0.7rem;
}

.upload__description {
  height: 50px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.icon__info {
  width: 20px;
}

.upload__description p {
  font-size: 0.6rem;
}

.buttons__container button,
.buttons__container label {
  background-color: var(--Neutral-700-opacity);
  color: var(--Neutral-300);
  border: none;
  outline: none;
  padding: 5px;
  font-family: "Inconsolata", monospace;
  font-size: 0.6rem;
  border-radius: 7px;
}

.buttons__container button:first-child {
  text-decoration: underline;
}

.input__submit {
  width: 98%;
  height: 50px;
  border-radius: 7px;
  background-color: var(--Orange-500);
  color: var(--Neutral-900);
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 0;
  outline: none;
}

.input__submit:hover {
  background-color: var(--Orange-700);
}
.error__email,
.error__name,
.error__github {
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
}

.error__github{
 margin-bottom: 30px;
}

.error__email__text {
  color: var(--Orange-500);
  font-size: 0.6rem;
}

.ticket__section {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  margin-bottom: 400px;
}

.ticket__container {
  width: 500px;
  height: 235px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;
}

.ticket__pattern {
  position: absolute;
  width: 100%;
}

.ticket__header {
  width: 100%;
  display: flex;
  padding: 20px;
  padding-top: 5px;
  gap: 10px;
}

.ticket__logo {
  width: 35px;
}

.ticket__header__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ticket__header__info h2 {
  color: var(--Neutral-0);
  font-size: 1.8rem;
  padding-top: 15px;
  padding-bottom: 10px;
}

.ticket__header__info p {
  color: var(--Neutral-0);
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.ticket__footer {
  width: 100%;
  display: flex;
  margin-top: 30px;
  padding-left: 20px;
  gap: 10px;
}

.ticket__image {
  width: 65px;
  height: 65px;
  border-radius: 10px;
}

#ticket-name {
  color: var(--Neutral-0);
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 7px;
}

.github__info {
  display: flex;
  align-items: center;
  gap: 5px;
}

#ticket-github-user {
  font-size: 0.8rem;
  font-weight: 300;
}

.ticket-number {
  position: absolute;
  right: 30px;
  top: 80px;
  writing-mode: vertical-lr;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--Neutral-500);
}

.hidden {
  display: none;
}

@media (max-width: 1024px) {
  .form,
  .ticket__section {
    margin-bottom: 80px;
  }
}

@media (max-width: 722px) {
  html {
    font-size: 17px;
  }

  body {
    height: auto;
  }

  .container {
    height: 100%;
  }

  .pattern__lines {
    width: 200%;
  }

  .pattern__line-top {
    top: 23px;
  }

  .pattern__circle__bottom {
    display: none;
  }

  .header__image {
    width: 150px;
  }

  .header__title {
    font-size: 1.5rem;
  }

  .form {
    max-width: 300px;
  }

  .ticket__container {
    width: 300px;
    height: 150px;
    margin-top: 50px;
  }

  .ticket__header {
    padding: 10px;
    padding-top: 0px;
    gap: 10px;
  }

  .ticket__logo {
    width: 20px;
  }

  .ticket__header__info {
    gap: 5px;
  }

  .ticket__header__info h2 {
    font-size: 1.2rem;
  }

  .ticket__header__info p {
    font-size: 0.7rem;
  }

  .ticket__footer {
    margin-top: 20px;
    padding-left: 10px;
  }

  .ticket__image {
    width: 40px;
    height: 40px;
  }

  #ticket-name {
    font-size: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .github__info img {
    width: 20px;
  }

  #ticket-github-user {
    font-size: 0.7rem;
    font-weight: 300;
  }

  .ticket-number {
    right: 20px;
    top: 50px;
    font-size: 1rem;
  }
}
